.board
{
  position: relative;
  display: grid;
  width: fit-content;
  margin: 20px auto;
  border: 1px solid #555;
  grid-template-rows: repeat(5, 50px);
  grid-template-columns: repeat(5, 50px);
  background-color: #f4a225;
}

.square
{
  border: 1px solid #555;
}

.tile
{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48.5px;
  height: 48.5px;
  border: 1px solid #555;
  transition: transform 0.2s ease;
}